<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<div>
  <h4>{{title}}</h4>
  <h4>{{todaDate | date:"dd-MM-yyyy"}}</h4>
   <h4>{{oldDate}}</h4>
    <h4>{{oldDate | date:"fullDate"}}</h4>
     <h4>{{200|currency:'EUR'}}</h4>
      <h4>{{200|currency:'EUR'}}</h4>
       <h4>{{200|currency:'INR'}}</h4>
        <h4>{{200|currency:'EUR':'symbol'}}</h4>
         <h4>{{3.4456|currency:'INR':'1.2-3'}}</h4>
          <h4>{{200|currency:'INR':'symbol'}}</h4>
           <h4>{{200|currency:'INR':'symbol'}}</h4>
      <h4></h4>
       <h4></h4>
        <h4></h4>
         <h4></h4>
          <h4></h4>
           <h4></h4>
</div>